body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    padding-right: 100px;
    padding-left: 100px;
}

#navbar_title{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


ul.nav_menu{
    display: inline-flex;
    list-style-type: none;
}

.nav_item a {
    margin-right: 10px;
    color: white;
}

.hero{
    display: grid;
    grid-template-columns: 50% 50%;
}
.hero_title{
    padding: 100px;

}


@media (max-width: 768px){
        .navbar .nav_menu{
            display: none;
        }
}
